<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores rerum est, dolore ipsam odit quis nihil porro vitae ullam quidem ratione beatae voluptatibus ad ipsum cum laboriosam nostrum ab accusamus?</p>
<%- include("footer") -%>
